{% extends 'base.html' %} {% load static %} {%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Persons</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet"/>
</head>
<body>
    <div class="background2">
        <br>
        <h1 class="generictitle">The Human Trafficking Crisis</h1>
        <br>
        <div class="textbox">
        <p>There are more humans in slavery today than any other time in history</p>
        </div>
    </div>
</body>
</html>
{%endblock%}

